<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="layout/head :: common_header(~{::title},~{::link})">
  <title>product - Cuff Shop</title>
</head>
<body>

  <div class="container goods-detail">
    <div class="goods-detail-inner">
      <!-- Goods Header Include -->
      <div class="main-header-include" th:replace="fragment/goods-detail-header :: copy"></div>
      <!-- Goods Header Include -->
      <div class="goods-detail-content">
        <div class="goods-detail-slider-outer">
          <div class="goods-detail-slider">
            <a href="#none"><img src="/images/goods-detail-01.jpg"></a>
            <a href="#none"><img src="/images/goods-detail-02.jpg"></a>
            <a href="#none"><img src="/images/goods-detail-03.jpg"></a>
            <a href="#none"><img src="/images/goods-detail-04.jpg"></a>
          </div>
          <button class="btn-share"><i class="bi bi-share-fill"></i></button>
        </div>
        <div class="goods-info">
          <div class="goods-rating">
            <div class="stars">
              <i class="bi bi-star-fill"></i>
              <i class="bi bi-star-fill"></i>
              <i class="bi bi-star-fill"></i>
              <i class="bi bi-star-fill"></i>
              <i class="bi bi-star-fill"></i>
              <em>(53)</em>
            </div>
          </div>
          <div class="products goods-badge">
            <div>
              <span class="badge new">new</span>
              <span class="badge hot">hot</span>
            </div>
            <button class="btn-edit" type="button"
                    onclick="location.href='goodseditForm.html'"
                    th:onclick="|location.href='@{/cuffshop/products/{productId}/edit(productId=${product.id})}'|">수정하기</button>
          </div>
          <div class="goods-title">
            <h3 th:text="${product.productName}">바다향 가득! 해산물 씨키트 해물 스파게티 밀키트(2인) 1300g</h3>
            <div>
              <span th:text="${product.discountRate}">30%</span><b th:text="${product.discountPrice}">11,760원</b><s th:text="${product.price}">16,800원</s>
            </div>
          </div>
          <div class="goods-delivery-info">
            <b>배송정보</b>
            <textarea name="deliveryInfo" id="deliveryInfo" th:text="${product.deliveryInfo}"  cols="30" rows="3" disabled>
                5만원 이상 구매시 무료 배송
                8/24(목) 도착 예정(평균 배송 소요 2~3일)
                제주, 도서, 산간 지역 15,000원 추가
              </textarea>
          </div>
          <div class="good-detail">
            <textarea name="productInfo" id="productInfo" th:text="${product.productInfo}"  cols="30" rows="6" disabled>
              입 안에 가득 퍼지는 풍부한 바다 향과 스파케티의 다채로운 2가지 맛의 콤비네이션
              우스터소스, 간장, 꿀, 레드 와인 식초로 맛을 낸 마리네이드 소사는 풍미를 더해줄 뿐만 아니라 오징어의식감을 더욱 부드럽게 만들어줍니다.
              오늘 메뉴는 아이들이 좋아하는 오징어 토마토 스파게티를 만들어 주세요. 입에서 살살 녹는 Today’s Meal Kit 토마토 오징어 스파케티
            </textarea>
          </div>
        </div>
      </div>
      <div class="goods-order-info">
        <div class="goods-order-choice">
          <span class="wish"></span>
          <button class="btn-primary btn-order-choice">구매하기</button>
        </div>
        <div class="goods-order-final">
          <button class="btn-fold"><i class="bi bi-chevron-down"></i></button>
          <div class="goods-order-final-info">
            <span class="info-badge arrival">내일도착</span>
            <div class="goods-title">
              <h3 th:text="${product.productName}">바다향 가득! 해산물 씨키트 해물 스파게티 밀키트(2인) 1300g</h3>
              <div>
                <span th:text="${product.discountRate}">30%</span><b th:text="${product.discountPrice}">11,760원</b><s th:text="${product.price}">16,800원</s>
                <div class="custom-select">
                  <select>
                    <option value="">1</option>
                    <option value="">2</option>
                    <option value="">3</option>
                    <option value="">4</option>
                    <option value="">5</option>
                  </select>
                </div>
              </div>
            </div>
          </div>
          <div class="payment-benefit">
            <b>결제 혜택</b>
            <p>
              하나카드 5만원 결제 시 최대 8개월 무이지 할부, PAYCO 생애 첫 결제 시 2,000원 즉시 할인
              <br><a href="#none">더보기</a>
            </p>
          </div>
          <div class="goods-order-btns">
            <button class="btn-primary btn-cart">장바구니 담기</button>
            <button class="btn-primary btn-now-order">바로구매</button>
          </div>
        </div>
      </div>
      <div class="overlay-fold"></div>
    </div>
  </div>

</body>
</html>