<!DOCTYPE html>
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="layout/head :: common_header(~{::title},~{::link})">
  <title>mypage - Cuff Shop</title>
</head>
<body>
  <div class="container mypage">
    <div class="mypage-inner">
      <!-- Main Header Include -->
      <div class="main-header-include" th:replace="fragment/main-header :: copy"></div>
      <!-- Main Header Include -->
      <div class="mypage-content">
        <div class="user-info">
          <div class="user-avatar">
            <img src="/images/dong.jpg">
          </div>
          <div class="user-summary">
            <div class="rating">
              <b>vip</b>
            </div>
            <h2 class="nickname">비와우산</h2>
            <div class="point-coupon">
              <div class="point">
                <span>적립 포인트</span>
                <span>5,000</span>
              </div>
              <div class="coupon">
                <span>쿠폰</span>
                <span>2</span>
              </div>
            </div>
          </div>
        </div>
        <div class="delivering">
          <h2>배송 중 상품</h2>
          <div class="delivering-items">
            <div class="delivering-item">
              <div class="thum">
                <img src="/images/goods-thum-01.jpg">
              </div>
              <div class="desc">
                <span>오징어 가득 씨키트 해물 스파게티 오징어볶음 밀키트(2인) 1300g</span>
                <b>배송완료</b>
              </div>            
            </div>
            <div class="delivering-item">
              <div class="thum">
                <img src="/images/goods-thum-02.jpg">
              </div>
              <div class="desc">
                <span>HACCP 인증을 받은 닭꼬치 밀키트, 굽기만 하면 끝(10개)</span>
                <b>배송중</b>
              </div>              
          </div>
        </div>
        <div class="banner">

        </div>
        <div class="user-shortcut">
          <a href="#none"><i class="bi bi-person"></i><span>정보수정</span></a>
          <a href="#none"><i class="bi bi-exclamation-circle"></i><span>공지사항</span></a>
        </div>
        <form th:action="@{/cuffshop/logout}" class="gtn-signout-form" method="post">
          <button class="btn-primary gtn-signout" type="submit">로그아웃</button>
        </form>
      </div>
      <!-- GNB include-->
        <div class="gnb-include" th:replace="fragment/gnb :: copy"></div>
      <!-- GNB include-->   
    </div>
  </div>
  </div>
</body>
</html>