<!DOCTYPE html>
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="layout/head :: common_header(~{::title},~{::link})">
    <title>signin - Cuff Shop</title>
</head>
<body>

  <div class="container signin">
    <div class="signin-inner">
      <div class="signin-photo"></div>  
      <div class="signin-content">
          <div class="signin-header">
          <h2 class="logo">Cuff Shop</h2>
          <p>로그인 후 이용하여 다양한 혜택을 만나보세요.</p>
          </div>
          <div class="signin-field">
            <input type="email" placeholder="이메일 입력"> 
            <input type="password" placeholder="비밀번호 입력"> 
          </div>
          <div class="status custom-chk">
            <label>
              <input type="checkbox"><em></em>자동 로그인
            </label>
            <a href="#none">아이디/비밀번호 찾기</a>
          </div>
          <button class="btn-primary btn-signin"
                    th:onclick="|lcoation.href='@{/cuffshop/login}'|">로그인</button>
          <div class="join-member">
            아직 회원이 아니신가요?<a href="#none" th:href="@{/cuffshop/join}">회원가입</a>
          </div>
          <div class="easy-signin">

          </div>
      </div>
        <!-- GNB include-->
        <div class="gnb-include" th:replace="fragment/gnb :: copy"></div>
        <!-- GNB include-->
      </div>
    </div>
  </div>
</body>
</html>